# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env

# Jupyter
.ipynb_checkpoints/
# *.ipynb~

# Docker
*.log
*.pid
*.sock
*.db
*.sqlite3

# VSCode
.vscode/
.code-workspace

# Data
*.csv
*.parquet
*.feather
*.h5
*.zip
*.tar.gz
.DS_Store

# Notebook Output
*/output/*
